[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
h5py = "*"
jupyter = "*"
tensorflow = {version = "*", sys_platform = "== 'linux'"}
tqdm = "*"

[dev-packages]
tensorflow-addons = "*"
scikit-learn = "*"
tensorflow-macos = {version = "*", sys_platform = "== 'darwin'"}
pytest = "*"
pytest-cov = "*"
circleci = "*"
mypy = "*"
black = "*"
pylint = "*"
pytest-lazy-fixture = "*"

[requires]
python_version = "3.9"
